/* Styling form and resume Sections */

body {
  font-family:'Times New Roman', Times, serif ;
  margin: 20px;
  padding: 0;
  background-color: white;
}

form {
  margin: auto;
  background-color: rgb(228, 242, 255);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  max-width: 600px;
}

h1 {

    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
  }

  h2{

    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
  }


  h3 {
    font-size: 24px;
    padding: 2%;
    margin: 10px 0 ;
    color: black;
    text-align: center;
  
    margin-top: 5%;
    margin-bottom: 30px;
  }
  
  
  #resume-display {
   max-width: 600px;
   margin: auto;
   padding: 20px;
   border: 20px solid grey;
   border-radius: 8px;
   background-color: rgb(228, 242, 255);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
   /*Making the resume editable*/
   outline: none;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  h3 {
    color: #444;
  }
  
  p {
    line-height: 1.6;
    margin: 2px 0;
    text-align: center;
  }
  
  b {
    color: #555;
  }

  button {
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
  }
  
  button:hover {
    background-color: rgb(122, 122, 231);
  }
